html{
  scroll-behavior: smooth;
  position:relative;
}

body{
  margin:0px;
  background-image:url("Home.jpg");
  position:absolute;
  background-size: cover;
}

  header{
    width:100%;
    height:60px;
    background-color: rgb(94, 94, 94);
    color: white;
    opacity: 0.8;
    position :fixed;
    top: 0;
    z-index: 10;
  }

  .header-list a{
    text-decoration: none;
    padding: 18px;
    float: left;
    display: block;
    color:white;
    transition: all 0.5s;
  }

  .header-list a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .spaces-section{
    height: 60px;
    background-color:black;
  }

  .home-section{
    text-align: center;
    height:100vh;
    background-image:url("Home.jpg");
    background-size: cover;
    color:white;
    position: relative;
  }

  .home-section .container{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width:80%;
    height:204px;
    padding:auto;
    margin: auto;
    background-color:black;
    opacity: 0.8;
  }

  .home-section h1{
    padding-top:30px;
  }

  .about-section{
    background-color: white;
    padding:50px 80px;
    height:400px;
  }

  .container{
    margin:0 auto;
  }

  .about-section img{
    margin:0 auto;
    float:left;
    width: 30%;
  }

  .about-text{
    margin-left: 20px;
    display:inline-block;
  }

  h2{
    font-size:40px;
  }

  .skill-section{
    background-color: white;
    margin-top:200px;
    padding:50px 80px;
  }

  .contents-section{
    background-color: white;
    margin-top:130px;
    padding:50px 80px;
    text-align: center;
  }

  .contents{
    width:30%;
    margin:0 1.5%;
    float:left;
  }

  .contents img{
    width: 80%;
  }

  .clear{
    clear: left;
  }

  .access-section{
    background-color: white;
    margin-top:100px;
    padding:100px;
    text-align: center;
  }

  .access{
    text-decoration: none;
    background-color: red;
    color:white;
    opacity:0.8;
    padding:15px 30px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }

  .fa-solid{
    margin-right:5px;
  }