/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .contents{
    width:90%;
  }

  .about-section{
    height:600px;
  }

  .about-section img{
    width: 80%;
  }

  .contents{
    height:400px;
  }

  .picture-style{
    height:100%;
  }
}

/* モバイル向けレイアウト */
@media all and (max-width: 670px) {

  .header-list a{
    padding:5px;  
  }
    #各種コンテンツをページの大きさ100パーセントに合わせて出力する
  .contents img{ 
    width:100%;
  }

  .skill-section{
    padding:30px 80px;
  }
}
